RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect non-www to www
#RewriteCond %{HTTP_HOST} !^www\.(.*)
#RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [R=301,L]


#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^romantica$ index1.php?canal=romantica [L]
#RewriteRule ^romantica/$ index1.php?canal=romantica [L]
#RewriteRule ^retro$ index1.php?canal=retro [L]
#RewriteRule ^retro/$ index1.php?canal=retro [L]

#RewriteCond %{QUERY_STRING} ^(.*)$
#RewriteRule ^cn/(.*)/$ index1.php?cn=$1 [L]
#RewriteRule ^cn/(.*)$ index1.php?cn=$1&%1 [L]
